| Request | Successes | Failures | Avg. Response Time |
|---------|:---------:|:--------:|:------------------:|
{{#requests}}
|{{name}} |{{successes}}|{{failures}}|{{avgResponseTime}}ms||
{{/requests}}